# Question 1: Anova
Three archers – Pat, Jack, and Alex are participating in an archery contest. They are shooting at
targets with 10 evenly spaced concentric rings. The rings have score values from 1 through 10
assigned to them, with 10 being the highest. Each participant shoots 6 arrow, scoring the
following points:  Pat – 5, 4, 4, 3, 9, 4   Jack – 4, 8, 7, 5, 1, 5    Alex – 9, 9, 8, 10, 4, 10
Based on the above results we would like to know who the best archer is. In other words our null
hypothesis is that the means of all populations are equal.

In [1]:
import pandas as pd

In [4]:
pat=[5, 4, 4, 3, 9, 4]

jack=[4, 8, 7, 5, 1, 5 ]

alex=[9, 9, 8, 10, 4, 10]


score = pat + jack + alex
print(score)

[5, 4, 4, 3, 9, 4, 4, 8, 7, 5, 1, 5, 9, 9, 8, 10, 4, 10]

In [5]:
company_names = (['pat'] * len(pat)) +  (['jack'] * len(jack)) +  (['alex'] * len(alex))
print(company_names)

['pat', 'pat', 'pat', 'pat', 'pat', 'pat', 'jack', 'jack', 'jack', 'jack', 'jack', 'jack', 'alex', 'alex', 'alex', 'alex', 'alex', 'alex']

In [6]:
data = pd.DataFrame({'name':company_names ,'score':score})
print(data)

    name  score
0    pat      5
1    pat      4
2    pat      4
3    pat      3
4    pat      9
5    pat      4
6   jack      4
7   jack      8
8   jack      7
9   jack      5
10  jack      1
11  jack      5
12  alex      9
13  alex      9
14  alex      8
15  alex     10
16  alex      4
17  alex     10

In [7]:
data.groupby('name').mean()

         score
name
alex  8.333333
jack  5.000000
pat   4.833333

In [9]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Anova 1 way table..

In [11]:
lm = ols('score ~ name',data=data).fit()
table = sm.stats.anova_lm(lm)
table

            df     sum_sq    mean_sq         F    PR(>F)
name       2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

In [6]:
pip install pingouin

Requirement already satisfied: pingouin in c:\users\vishal\anaconda3\lib\site-packages (0.3.8)
Requirement already satisfied: pandas>=0.24 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (1.0.1)
Requirement already satisfied: numpy>=1.15 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (1.18.1)
Requirement already satisfied: scipy>=1.3 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (1.4.1)
Requirement already satisfied: scikit-learn in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.22.1)
Requirement already satisfied: outdated in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.2.0)
Requirement already satisfied: tabulate in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.8.7)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (3.1.3)
Requirement already satisfied: statsmodels>=0.10.0 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.11.0)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.10.0)
Requirement already satisfied: pandas-flavor>=0.1.2 in c:\users\vishal\anaconda3\lib\site-packages (from pingouin) (0.2.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\vishal\anaconda3\lib\site-packages (from pandas>=0.24->pingouin) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\vishal\anaconda3\lib\site-packages (from pandas>=0.24->pingouin) (2.8.1)
Requirement already satisfied: joblib>=0.11 in c:\users\vishal\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.14.1)
Requirement already satisfied: requests in c:\users\vishal\anaconda3\lib\site-packages (from outdated->pingouin) (2.22.0)
Requirement already satisfied: littleutils in c:\users\vishal\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: cycler>=0.10 in c:\users\vishal\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vishal\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\vishal\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.6)
Requirement already satisfied: patsy>=0.5 in c:\users\vishal\anaconda3\lib\site-packages (from statsmodels>=0.10.0->pingouin) (0.5.1)
Requirement already satisfied: xarray in c:\users\vishal\anaconda3\lib\site-packages (from pandas-flavor>=0.1.2->pingouin) (0.16.1)
Requirement already satisfied: six>=1.5 in c:\users\vishal\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->pingouin) (1.14.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\vishal\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\vishal\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vishal\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\vishal\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: setuptools in c:\users\vishal\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.2->pingouin) (45.2.0.post20200210)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from pingouin import ancova